<div class="container__big-card">

  <div class="big-card__photo">
    <img src="{{ photoCover }}" alt="imagen LW3-Tundra" srcset="" class="hover-image"
    height="350px">
  <div class="image-caption">Crédito: Activision</div>

  </div>

  <div class="big-card__title">
    <h1><a [routerLink]="['content', id]">
      {{ cardTitle }}
    </a></h1>
  </div>

  <div class="big-card__description">
    <p>
      <a [routerLink]="['content', id]">
      {{ cardDescription }}
      </a>
    </p>
  </div>

</div>
