<div class="container__big-card">
  <div class="big-card__photo">
    <img src="https://th.bing.com/th/id/OIP.ET4QVv09ItsElQMsudgZsAHaFY?w=254&h=185&c=7&r=0&o=5&pid=1.7" alt=""
      height="288px" width="100%">
  </div>
  <div class="big-card__title">
    <h1>Saiu a nova versão do Angular</h1>
  </div>
  <div class="big-card__description">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent cursus augue vel lorem accumsan scelerisque.
      Donec id
      tellus tempor, ullamcorper turpis ut, rutrum nulla. Pellentesque at diam eu urna eleifend rhoncus scelerisque vel
    </p>
  </div>
</div>