.container__menu-title {
  color: white;
}

.container__menu-title>h1 {
  margin-top: 15px;
  margin-bottom: 15px;
  font-family: segoe UI;
  font-size: 135px;
  display: flex;
  justify-content: center;
}

.container__menu-title>hr {
  margin-top: 20px;
  margin-bottom: 20px;
}

.title__blog:hover {
  animation: shake 0.5s;
}

@keyframes shake {

  0%,
  100% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(-5px);
  }

  50% {
    transform: translateX(5px);
  }

  75% {
    transform: translateX(-5px);
  }
}
