.container__small-card{
  width: 800px;
  margin-bottom: 15px;
}

.container__small-card-content{
  display: flex;
  flex-direction: row;
}

.small-card__photo>img{
  width: 300px;
  min-width: 200px;
  margin-right: 20px;
  transition: filter 1s ease, transform 0.5s ease;
}

.small-card__title{
  display: flex;
  justify-content: center;
  align-items: center;
}

.container__small-card__separator{
  margin-top: 10px;
}

.small-card__photo>img:hover {
  filter: grayscale(10%);
  transform: scale(1.5);
}

.small-card__title>h1 a:hover {
  color: yellow;
}
.small-card__title>h1 a{
  font-size: 25px;
}
.small-card__title>h1 a:not(:first-child) {
  cursor: pointer;
  transition: font-size 1.5s ease;
}

.small-card__title>h1 a:hover {
  font-size: 30px;
}
