<div class="container__menu-bar">

  <ul>
    <li>
      <img src="https://scontent.fdti2-1.fna.fbcdn.net/v/t39.30808-6/394563649_991533068585338_954599083175716074_n.jpg?_nc_cat=110&ccb=1-7&_nc_sid=efb6e6&_nc_ohc=FpzcZ28nZwwAX8EqAIT&_nc_ht=scontent.fdti2-1.fna&oh=00_AfAABfLweB6Ch6bx_P2SHxNbCoX0cQ3GNUTDiiZ6YSkM6A&oe=65AD4DCB" alt="foto__perfil" class="profile__photo">
    </li>
    
    <li><span>¤</span></li>

    <li><a target="_blank" href="https://www.linkedin.com/in/gih-viana-1173702a2">linkedin</a></li>

    <li><span>¤</span></li>

    <li><a target="_blank" href="https://github.com/Ban-Gih">Github</a></li>

    <li><span>¤</span></li>

    <li><a target="_blank" href="https://www.instagram.com/jeovane.ban.codm">Instagram</a></li>
  </ul>

</div>
